.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 20px;
}

.foods-container {
  padding: 2rem;
}

.food-cards-container {
  display: grid;
  gap: 1rem;
}

.food-card {
  background-color: var(--card-background-color);
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
}

.food-card:hover {
  transform: translateY(-5px);
}

.food-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.food-card h2 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.food-card p {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.details-button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.details-button:hover {
  background-color: var(--button-hover-background-color);
}